* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid;
  border-color: grey;
  padding: 10px 10% 10px 10%;
  overflow: hidden;
}
.logo_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.title {
  font-family: "Poppins";
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
main {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-right: 5%;
  padding-left: 5%;
  min-height: calc(100vh - 90px);
}
h2 {
  text-align: center;
}
#orange {
  color: darkorange;
}
#big {
  font-size: 20px;
}
ul {
  display: flex;
}
a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins";
  text-decoration: none;
}
ul li a {
  color: black;
  padding: 0 20px;
  display: block;
  text-decoration: none;
}
ul li {
  list-style: none;
  text-align: center;
  display: block;
}
ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}
ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 33px;
  transition: 0.4s;
  color: #000;
}

ul li a.active .icon .fa {
  color: #e91e63;
}
ul li a.active .name {
  color: #e91e63;
}
ul li a:hover .icon .fa {
  color: #e91e63;
}

ul li a:hover .name {
  color: #e91e63;
}
ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
}

.error {
  color: orange;
  position: absolute;
  top: 100px;
  margin-top: 40px;
  margin-left: 15px;
}
.success {
  color: greenyellow;
  position: absolute;
  top: 100px;
  margin-top: 40px;
  margin-left: 15px;
}

.card {
  font-size: 3rem; /* Taille de l’émoji */
  display: flex; /* Centrage flex */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  height: 100px; /* Hauteur de la carte */
  width: 100px; /* Largeur de la carte */
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  line-height: 1; /*  pour éviter les débordements */
  padding: 0;
}
.score {
  text-align: center;
  padding-top: 50px;
  margin-left: 20px;
}
.container_form {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  border: green 1px solid;
  height: fit-content;
  border-radius: 20px;
  position: absolute;
  top: 200px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 30vw;
}
form input {
  height: 25px;
  margin-left: 1%;
  width: 90%;
  margin-bottom: 10px;
}
form label {
  margin-left: 1%;
}

.bouton_submit {
  height: 40px;
  width: fit-content;
  margin: auto;
  padding: 5px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 3px;
}
select {
  margin-bottom: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bouton_submit:hover {
  background-color: rgb(52, 145, 52);
}

table {
  border-collapse: collapse;
  margin-top: 30px;
  background-color: tan;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

@media (max-width: 480px) {
  .game-container {
    grid-template-columns: repeat(2, 100px);
  }
}
